*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

header a{
    text-decoration: none;
    color: #E5E7EB;
}

header .headerContainer{
    height: 80px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .headerContainer .headerLogo{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .headerContainer .headerLogo h2{
    font-weight: 900;
}

header .headerContainer .headerNavigator{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 24px;
}

header .headerContainer .headerNavigator .headerLink{
    margin-left: 25px;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

main .mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

/* HERO SECTION */

main .mainContainer .heroSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background-color: #1F2937;
}

main .mainContainer .heroSection .heroSectionContent{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main .mainContainer .heroSection .heroSectionContent .heroText{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #E5E7EB;
}

main .mainContainer .heroSection .heroSectionContent .heroText h1{
    font-size: 56px;
    font-weight: 900;
    color: #F9FAF8;
}

main .mainContainer .heroSection .heroSectionContent .heroText p{
    font-size: 24px;
    color: #E5E7EB;
}

main .mainContainer .heroSection .heroSectionContent .heroText button{
    background-color: #3882F6;
    width: 130px;
    height: 45px;
    font-weight: 700;
    font-size: 18px;
    border-radius: 10px;
    color: #F9FAF8;
    border: none;
}

main .mainContainer .heroSection .heroSectionContent .heroText button:hover{
    background-color: #5797fe;
    transition: 0.3s;
    cursor: pointer;
}

main .mainContainer .heroSection .heroSectionContent .heroImage{
    width: 50%;
    display: flex;
    justify-content: right;
}

main .mainContainer .heroSection .heroSectionContent .heroImage img{
    width: 90%;
}

/* INFO SECTION */

main .mainContainer .infoSection{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main .mainContainer .infoSection h1{
    font-weight: 900;
}

main .mainContainer .infoSection .infoBoxes{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .mainContainer .infoSection .infoBoxes .infoBox{
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .mainContainer .infoSection .infoBoxes .infoBox .box{
    width: 200px;
    height: 200px;
    border: 5px solid#3882F6;
    border-radius: 10px;
    display: block;
    margin-bottom: 5px;
}

main .mainContainer .infoSection .infoBoxes .infoBox .subText{
    text-align: center;
    font-size: 18px;
    color:gray;
}